services:
  ml-core:
    build: .
    container_name: ml-core
    image: ml-core:cuda
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    environment:
      - SERVICE_PORT=8002
    volumes:
      - ../data-assets-pipeline/data:/data
    ports:
      - "${ML_CORE_PORT:-8820}:8002"
